<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://exolnet.com/apple-touch-icon.png?v=2bQpA28B2p">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://exolnet.com/favicon-32x32.png?v=2bQpA28B2p">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://exolnet.com/favicon-16x16.png?v=2bQpA28B2p">
    <link rel="manifest" href="https://exolnet.com/site.webmanifest?v=2bQpA28B2p">
    <link rel="mask-icon"
          href="https://exolnet.com/safari-pinned-tab.svg?v=2bQpA28B2p&quot;color=&quot;#402d8a">
    <link rel="shortcut icon" href="https://exolnet.com/favicon.ico?v=2bQpA28B2p">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        window.VERDACCIO_API_URL = '<%= htmlWebpackPlugin.options.verdaccioURL %>/-/verdaccio/';
    </script>
</head>
<body class="body">
    <div id="root"></div>
</body>
</html>
